## content from makestuff
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
Talks
3SS
tech
web
org
research
park
coronavirus
ici3d
3SS_top
shi
Dropbox
projects
outbreak
DataViz
legacy
git_push
makestuff
Workshops
admin
cygu
rabies
1M
staging
planning
Sandbox
earn
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
tech
3SS
org
Talks
research
web
earn
outbreak
admin
Dropbox
projects
makestuff
legacy
coronavirus
shi
Workshops
park
staging
cygu
ici3d
git_push
DataViz
1M
rabies
3SS_top
planning
Sandbox
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
tech
3SS
org
Talks
research
web
earn
outbreak
admin
Dropbox
projects
makestuff
legacy
coronavirus
shi
Workshops
park
staging
cygu
ici3d
git_push
DataViz
1M
rabies
3SS_top
planning
Sandbox
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
tech
3SS
org
Talks
research
web
earn
outbreak
admin
Dropbox
projects
makestuff
legacy
coronavirus
shi
Workshops
park
staging
cygu
ici3d
git_push
DataViz
1M
rabies
3SS_top
planning
Sandbox
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
tech
3SS
org
Talks
research
web
earn
outbreak
admin
Dropbox
projects
makestuff
legacy
coronavirus
shi
Workshops
park
staging
cygu
ici3d
git_push
DataViz
1M
rabies
3SS_top
planning
Sandbox
dirnames.mk
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
deaths
makestuff
*.ld.tex
jekyll.log
.texdeps/
covidplateaus.title.pdf
covidplateaus.biblio.pdf
covidplateaus.body.pdf
covidplateaus.sign.pdf
covidplateaus.settings.pdf
covidplateaus.acknowledge.pdf
covidplateaus.appendix.pdf
covidplateaus.author.pdf
covidplateaus.pdf
covidplateaus.abs.pdf
covidplateaus.title.out
covidplateaus.biblio.out
covidplateaus.body.out
covidplateaus.sign.out
covidplateaus.settings.out
covidplateaus.acknowledge.out
covidplateaus.appendix.out
covidplateaus.author.out
covidplateaus.out
covidplateaus.abs.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
deaths
makestuff
*.ld.tex
jekyll.log
.texdeps/
covidplateaus.title.pdf
covidplateaus.biblio.pdf
covidplateaus.abs.pdf
covidplateaus.body.pdf
covidplateaus.sign.pdf
covidplateaus.settings.pdf
covidplateaus.acknowledge.pdf
covidplateaus.appendix.pdf
covidplateaus.author.pdf
covidplateaus.pdf
covidplateaus.title.out
covidplateaus.biblio.out
covidplateaus.abs.out
covidplateaus.body.out
covidplateaus.sign.out
covidplateaus.settings.out
covidplateaus.acknowledge.out
covidplateaus.appendix.out
covidplateaus.author.out
covidplateaus.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.oldfile
*.olddiff
*.blame
